<nav class="nav">
  <a class="nav-name" href="{{ '/' | relative_url }}">Muhammet Topal</a>
  <div class="nav-links">
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/cv/' | relative_url }}">CV</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
    <a class="nav-blog" href="{{ '/blog/' | relative_url }}">Blog</a>
  </div>
</nav>
